* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    color: #61DAFB;
    background-color: #21222A;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-weight: 700;
  font-size: 22px;
}

.navLink {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 16px;
}

.logo > img {
  height: 30px;
  margin-right: 7px;
}

.mContent {
  background-color: #282D35;
  height: 100%;
  color: white;
  padding: 55px 25px;
  margin: 0;

  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 50%;
}

.contentTitle {
  size: 39px;
  letter-spacing: -0.05em;
}

.contentList {
  size: 16px;
  margin-top: 30px;
}

.contentList > li {
  line-height: 19px;
  padding: 10px 0px;
}

.listItem::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}
